
.main__content__container{
    background-image: url('/assets/img/study.jpg');
}
.main__content__inner{
    background-color: rgba(0, 0, 0, 0.5);
}

section.main__content p{
    width:70%;
    margin: 0 auto;
    padding: 1em 0;
    color:white;
    font-size: 1.2em;
}

@media screen and (max-width:1200px){

}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){

}

@media screen and (max-width:320px){

}