<!-- Sticky NavBar (sticky comportment was disturbed by header tag when nav was inside header)-->
<nav>
    <div class="menu">
        <ul>
            <li><a class="menu-button" href="{{ path ("app_main") }}">ACCUEIL</a></li>
            <li><a class="menu-button" href="{{ path ("app_formation") }}">FORMATION</a></li>
            <li><a class="menu-button" href="{{ path ("app_assistance") }}">ASSISTANCE</a></li>
            <li><a class="menu-button" href="{{ path ("app_contact") }}">CONTACT</a></li>
        </ul>
        <div class="close-button">&#9747;</div>
    </div>
    <div class="burger-button">
        <a href="">&#9776; Menu</a>
    </div>
</nav>
<!-- End NavBar -->