{% extends "base.html.twig" %}
{% block metaDescription %}A propos de l'entreprise RI.Start, qui sommes nous, pourquoi nous vous proposons des formation et une assistace autout de l'écosystème Microsoft 365{% endblock %}
{% block title %}A propos de nous{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="stylesheet" href="/assets/css/a-propos.css">
{% endblock %}

{% block body %}
    <section class="main__content">
        <div class="main__content__container">
            <div class="main__content__inner">
                <h1>A PROPOS RI.START</h1>
                <p>Toujours a l'écoute de nos clients et dans une perpétuelle volonté d'évolution, nous vous accompagnons dans tous vos projets et pour cela nous mettons à disposition une formation basé sur Microsoft 365.</p>
                <p>Cette suite étant actuellement la meilleure proposition quant à la transition de votre infrastructure informatique, nous vous permettrons l'acquisition de nouveaux outils qui propulserons votre activité dans le monde du cloud.</p>
            </div>
        </div>
    </section>
{% endblock %}