{% extends "base.html.twig" %}
{% block metaDescription %}Politique de confidentialité de l'entreprise RI.Start{% endblock %}
{% block title %}Politique de confidentialité{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/cg.css">
{% endblock %}

{% block body %}
<section class="main__content">
    <h1>Politiques de Confidentialité</h1>
    <div class="main__content__rules">
        <h2>Article 1 : Objet et champ d'application</h2>
        <p>
            La présente politique de confidentialité a pour objet d’informer les utilisateurs du site internet www.ristart.fr, édité par la société RI.START, dont le siège social est situé 2 place des chardonnerets 66300 TRESSERRE, immatriculée au Registre du Commerce et des Sociétés sous le numéro 83529821700018, sur la manière dont leurs données personnelles sont collectées, utilisées, conservées et protégées par la société RI.START.
        </p>
        <p>
            La société RI.START propose deux activités distinctes : la gestion des réseaux informatiques et le centre de formation agréé Qualiopi.
        </p>
        <p>
            La présente politique de confidentialité s’applique à toute personne qui accède ou utilise le site internet www.ristart.fr, que ce soit en tant que simple visiteur ou en tant que client.
        </p>
        <p>
            L’accès ou l’utilisation du site implique l’acceptation sans réserve de la présente politique de confidentialité par les utilisateurs. En cas de désaccord avec la politique de confidentialité, les utilisateurs doivent quitter le site immédiatement.</p>
        </p>
    </div>
    <div class="main__content__rules">
        <h2>Article 2 : Données personnelles collectées</h2>
        <p>La société RI.START collecte et traite les données personnelles suivantes des utilisateurs :
            <ul>
                <li>Données d’identification : nom, prénom, adresse e-mail, numéro de téléphone, etc.</li>
                <li>Données professionnelles : entreprise, fonction, secteur d’activité, etc.</li>
                <li>Données de connexion : adresse IP, date et heure de connexion, pages visitées, etc.</li>
                <li>Données relatives aux commandes : services commandés, montant payé, mode de paiement, etc.</li>
                <li>Données relatives aux formations : parcours de formation, évaluations, attestations, etc.</li>
            </ul>
            <p>Les données personnelles sont collectées soit directement auprès des utilisateurs lorsqu’ils remplissent un formulaire en ligne, créent un compte, passent une commande ou suivent une formation sur le site, soit indirectement par l’utilisation de cookies ou de technologies similaires (voir article 7).</p>
    </div>
    <div class="main__content__rules">
        <h2>Article 3 : Finalités du traitement des données personnelles</h2>
        <p>La société RI.START traite les données personnelles des utilisateurs pour les finalités suivantes :</p>
        <ul>
            <li>Répondre aux demandes d’information ou de devis des utilisateurs ;</li>
            <li>Gérer les relations contractuelles avec les clients ;</li>
            <li>Exécuter et livrer les services commandés par les clients ;</li>
            <li>Assurer le suivi et la qualité des formations dispensées aux clients ;</li>
            <li>Envoyer des newsletters ou des offres promotionnelles aux utilisateurs qui y ont consenti ;</li>
            <li>Réaliser des statistiques et des analyses sur la fréquentation et l’utilisation du site ;</li>
            <li>Améliorer le fonctionnement et la performance du site ;</li>
            <li>Prévenir et lutter contre la fraude, les abus ou les violations du site.</li>
        </ul>
    </div>
    <div class="main__content__rules">
        <h2>Article 4 : Destinataires des données personnelles</h2>
        <p>Les données personnelles collectées par la société RI.START sont destinées à son usage exclusif dans le cadre des finalités décrites à l’article 3.</p>
        <p>La société RI.START ne communique pas les données personnelles des utilisateurs à des tiers, sauf dans les cas suivants :</p>
        <ul>
            <li>Lorsque les utilisateurs ont donné leur consentement préalable et exprès ;</li>
            <li>Lorsque la communication est nécessaire à l’exécution du contrat ou à la fourniture du service commandé par les utilisateurs (par exemple, aux prestataires techniques chargés de l’hébergement du site ou du paiement en ligne) ;</li>
            <li>Lorsque la communication est requise par la loi ou par une autorité judiciaire ou administrative compétente.</li>
        </ul>
    </div>
    <div class="main__content_rules">
        <h2>Article 5 : Durées de conservation des données personnelles</h2>
        <p>La société RI.START conserve les données personnelles des utilisateurs pendant les durées suivantes :</p>
        <ul>
            <li>Données d’identification : pendant toute la durée de la relation contractuelle avec le client, puis pendant 3 ans à compter du dernier contact ;</li>
            <li>Données professionnelles : pendant toute la durée de la relation contractuelle avec le client, puis pendant 3 ans à compter du dernier contact ;</li>
            <li class="striked">Données de connexion : pendant 13 mois à compter de leur collecte ;</li>
            <li> Données relatives aux commandes : pendant toute la durée de la relation contractuelle avec le client, puis pendant 10 ans à compter de la fin du contrat pour les besoins comptables et fiscaux ;</li>
            <li>  Données relatives aux formations : pendant toute la durée de la relation contractuelle avec le client, puis pendant 5 ans à compter de la fin du contrat pour les besoins de certification et de contrôle.</li>
        </ul>
    </div>
    <div class="main__content__rules">
        <h2>Article 6 : Droits des utilisateurs sur leurs données personnelles</h2>
        <p>Les utilisateurs disposent des droits suivants sur leurs données personnelles, conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi Informatique et Libertés :</p>
        <ul>
            <li>Droit d’accès : les utilisateurs peuvent demander à la société RI.START de leur communiquer les données personnelles qu’elle détient sur eux ;</li>
            <li>Droit de rectification : les utilisateurs peuvent demander à la société RI.START de corriger ou de compléter les données personnelles qu’elle détient sur eux si elles sont inexactes ou incomplètes ;</li>
            <li>Droit d’effacement : les utilisateurs peuvent demander à la société RI.START de supprimer les données personnelles qu’elle détient sur eux, sous réserve du respect des obligations légales de conservation ;</li>
            <li>Droit de limitation : les utilisateurs peuvent demander à la société RI.START de limiter le traitement des données personnelles qu’elle détient sur eux, dans certains cas prévus par le RGPD (par exemple, en cas de contestation de l’exactitude des données) ;</li>
            <li>Droit d’opposition : les utilisateurs peuvent s’opposer au traitement des données personnelles qu’elle détient sur eux, pour des motifs liés à leur situation particulière, sauf si le traitement répond à un intérêt légitime de la société RI.START ou à une obligation légale ;</li>
            <li>Droit à la portabilité : les utilisateurs peuvent demander à la société RI.START de leur transmettre ou de transmettre à un autre responsable du traitement les données personnelles qu’elle détient sur eux, dans un format structuré, couramment utilisé et lisible par machine, lorsque le traitement repose sur le consentement ou sur un contrat et qu’il est effectué par des moyens automatisés.</li>
        </ul>
        <p>Pour exercer leurs droits, les utilisateurs doivent adresser une demande écrite à la société RI.START, accompagnée d’une copie d’un titre d’identité valide, aux coordonnées suivantes :</p>
        <ul>
            <li>Par courrier postal : RI.START – 2 place des chardonnerets 66300 TRESSERRE</li>
            <li>Par courriel : contact@ristart.fr</li>
        </ul>
        <p>La société RI.START s’engage à répondre aux demandes dans un délai d’un mois à compter de leur réception, sauf en cas de complexité ou de nombre élevé de demandes, auquel cas le délai peut être prolongé de deux mois supplémentaires.</p>
        <p>Les utilisateurs disposent également du droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) si ils estiment que le traitement de leurs données personnelles n’est pas conforme au RGPD ou à la loi Informatique et Libertés.</p>
    </div>
    <div class="main__content__rules">
        <h2>Article 7 : Cookies</h2>
        <p>Le site internet www.ristart.fr <strong>n'utilise pas de cookies</strong>, qui sont des fichiers texte déposés sur le terminal des utilisateurs lors de leur visite du site, afin de réaliser des mesures d’audience, d’améliorer la performance du site, de personnaliser les contenus et les publicités, et de faciliter la navigation des utilisateurs.</p>
        <p>Les types, les finalités, les durées de conservation et les modalités d’acceptation ou de refus des cookies sont précisés dans la politique de cookies du site.</p>
    </div>
    <div class="main__content__rules">
        <h2>Article 8 : Sécurité</h2>
        <p>
            La société RI.START met en œuvre des mesures techniques et organisationnelles appropriées pour protéger les données personnelles des utilisateurs contre les risques de perte, de vol, de divulgation ou d’altération.
            Ces mesures comprennent notamment :
        </p>
        <ul>
            <li>L’utilisation d’un protocole sécurisé (HTTPS) pour le transfert des données ;</li>
            <li>Le chiffrement des données sensibles (par exemple, les données bancaires) ;</li>
            <li>La limitation de l’accès aux données aux seuls membres du personnel autorisés et formés ;</li>
            <li>La sensibilisation et la formation du personnel aux règles relatives à la protection des données ;</li>
            <li>La mise en place d’une politique interne de sécurité informatique ;</li>
            <li>La réalisation d’audits et de tests réguliers sur le système d’information.</li>
        </ul>
    </div>
    <div class="main__content__rules">
        <h2>Article 9 : Modification</h2>
        <p>
            La société RI.START se réserve le droit de modifier
            la présente politique de confidentialité à tout moment et sans préavis, pour
            s’adapter aux évolutions légales, techniques ou organisationnelles.
        </p>
        <p>
            La date de dernière mise à jour est indiquée en bas de la présente politique de confidentialité. Les utilisateurs sont invités à consulter régulièrement la politique de confidentialité pour prendre connaissance des éventuelles modifications.
        </p>
    </div>
</section>
{% endblock %}