{% extends 'base.html.twig' %}
{% block title %} Accès refusé {% endblock %}
{% block body %}
    <section class="main__content">
        <h1>Oops, vous n'avez pas les droits pour effectuer cette action.</h1>

        <p>
            Il semblerait que vous n'ayez pas les autorisations nécéssaires pour effectuer l'action demandée. Mais <strong>bonne nouvelle</strong>, vous pouvez <a href="{{ path('app_main') }}">retourner à l'accueil !</a>.
        </p>
    </section>
{% endblock %}